{% extends "::master.html.twig" %}

{% block title %}
    {{ 'title.dashboard' | trans }} - {{ parent() }}
{% endblock %}

{% block container %}
    <div class="container-fluid app-container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}