.app-alert {
    margin-top: 55px;
    margin-bottom: -55px;
}

.app-container {
    margin-top: 100px;
    margin-bottom: 20px;
}

.app-nav-sidebar-header {
    margin-top: 40px;
}

.image-flag {
    height: 18px;
}

td.index-action {
    vertical-align: middle;
    white-space: nowrap;
}

td.bom-alternative {
    font-style: italic;
}

div.pre
{
    font-family: Consolas, Lucida Console, "Courier New", monospace;
    white-space: pre;
}